body
{
    line-height:normal;
    font-size: 14px;
}

label, input, button, select, textarea {
    line-height:normal;
    font-size: 14px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 14px;
    height:16px;
    line-height: normal;
    margin-bottom: 2px;
}

img {
    border: none;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
textarea {
    min-height: 75px;
}


/* TABLE
----------------------------------------------------------*/
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: Blue;
}

#logindisplay a:link {
    color:Blue;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: Blue;
    text-decoration: underline;
}

#logindisplay a:hover {
    color:Purple;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


.expandable-header
{
    color: #000066;
    cursor: pointer;
}
.expandable-content
{
    display: none;
}

#demoHeader 
{
    position:relative;display:none;padding:5px;min-height:5px;width:99%; background-color:#ECF2F6; border:1px Solid DarkGray;-moz-border-radius: 4px;border-radius:4px;margin-bottom:5px;
}

