@{
    ViewBag.Title = "jRIApp - JavaScript RIA Framework";
}
@section CssImport 
{
    <style type="text/css">
        ul#DemoList > li
        {
            font-weight: bold;
            line-height: 1.8;
        }
        
        ul#DemoList ul
        {
            font-weight: normal;
        }
    </style>
}
<h2>jRIApp - JavaScript RIA Framework (typescript version)</h2>
