@{
    ViewBag.Title = "jRIAppTS - JavaScript RIA Framework DEMO";
}
@section CssImport 
{
    <style type="text/css">
        ul#DemoList > li
        {
            font-weight: bold;
            line-height: 1.8;
        }
        
        ul#DemoList ul
        {
            font-weight: normal;
        }
    </style>
}
<h2>@ViewBag.Title</h2>
